html{
    background-color: beige;
}
.main-container{
    background-color: grey;
    width:60vw;
    height:75vh;
    border-radius: 20px;
    margin-left: 20vw;
    margin-top:10vh;
    margin-right:30vw;
    
 
 
}
.display, .buttons{
    display: flex;
    margin-left: 2.5%;
    border-radius: 18px;
}
.display{
    display: block;
    background-color: black;
    padding-top: 20px;
    width: 95%;
    height: 20%;
    justify-content: flex-end;
    align-items: flex-end;
    color: greenyellow;
    text-align: right;
    flex: 1 1 0%;
    border-top:20px solid grey;
    

}
.input{
margin-top: 10px;
font-size: 30px;
padding-top: 0.25rem;

}
.output{
    font-size: 42px;
    padding-top:0.04rem ;
}
.buttons{
    margin-top: 18px;
    color:azure;
    background-color: lightgrey;
    margin-right:2%;
    height: 60%;
    padding-top: 1.5em;
    border-radius: 1.5rem 1.5rem 0 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    padding-left: 8em;
    padding-right: 8em;
    grid-gap: 1em;
    padding-bottom: 1.5em;


}
.buttons >.key{
    background-color: black;
    height: 40px;
    border-radius: 120px;
    padding-bottom: 18px;
    transition: 0.5s;
    display: block;
    cursor: pointer;
    
    
    
}
.buttons  span{
   position: relative;
   top:50%;
   padding-left: 50%;
   transform: translate(-50%,50%);
   font-size: 1rem;
   font-weight: 700;
   
}

.operators{
    color:goldenrod;
}

.buttons .key:hover{
    box-shadow: inset 0px 0px 8px red;
}

